extends ../layout

block scripts
	link(rel="stylesheet", href="/styles/sudoku-grid.css", type="text/css")
	script(src="/scripts/sudoku_solver.js")

block content

	h1 Sudoku Solver

	p This sudoku solver treats sudoku as an exact cover problem and uses Knuth's algorithm X to find solutions
	
	p.error_message

	div.button-container
		button.option.solve-btn Solve
		button.reset-btn Reset Grid

	include sudoku-grid.pug

