block sudoku-grid

	div.sudoku-grid
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div 
			input
			input
			input
			input
			input
			input
			input
			input
			input
		div.container
			div
				div.box-outline
				div.box-outline
				div.box-outline
			div
				div.box-outline
				div.box-outline
				div.box-outline
			div
				div.box-outline
				div.box-outline
				div.box-outline