extends layout

block content

	h1 About me:

	h3 Who am I?

	p 
	| I am Eoin Howard Scully, computer science graduate from the Uni of Sussex. I'm really enthuisatic about coding, in my spare time I'm often reading an article or manual related to 
	| some framework or technology I find interesting or just want to learn. At the moment I'm trying to learn more about Haskell, which I touched on in a uni module and have kept
	| coming back to since.
	br 
	br
	p 
	| When I try to apply what I read about practically, I often use Java because I'm a fan of its portability and OOP approach. For example, the Sudoku
	| section of this website is a Java project compiled into a jar which runs on the webserver, this means I can easily develop a web and desktop version of the same app easily!

	h3 What have I done?
	p
	| At University I did some fun projects, like implementing a networking protocol, writing interpreters and making a game in an Agile team. 
	br
	br
	p 
	| Overall I had the most fun doing my dissertation project, which was a Visual Compiler for an Interaction Nets based language. "inets" are a cool alternate model of computation
	| based on notation for writing mathmatical proofs, they're stateless and inherintly paralell which make them super cool (in my opinion). One of my projects at the moment is to make
	| a polished web version I can host here.

	h3 What are my plans?
	p
	| My main goal at the moment is to secure a career in IT, I've always had lots of fun writing code and working on projects with other people and I would love to do that professionaly, 
	| in the meantime I'm going to keep adding to this website
