extends layout

block content
	h1 Welcome!
	p This is a small website to showcase some of my programming ability

	h2 Who am I?

	p My name is Eoin, I am a computer science graduate from the Uni of Sussex and I love writing code

	h2 What's on here?

	ul 
		li
			a(href="/Sudoku") Sudoku:
			p Generate or solve a randomlu generated sudoku!
		li
			a(href="/About-me") About me:
			p A cover letter style summary of Eoin (me)
		li
			a(href="/CV") My CV
		li
			a(href="/Contact") Contact info
	
	h2 Future plans
	
	
	ul
		li WebGL versions of some OpenGL projects I've made
		li Interactive interpreter for Piet, an EsoLang based on the artwork of Piet Mondrian
		li Web version of EoINPLA, a interaction nets based programming language