extends layout

block content
	h1 Welcome!

	h2 What is this Website?
	p This is a small website to showcase some of my programming ability
	p It is running on a expressjs webserver in a docker container at fly.io
	h3 Why Node?
	p Using node allows this website to have fun interactive bits, for now just 
		a(href="Sudoku/generator") Sudoku
		p but I have plans to add lots more

	h2 Who am I?

	p My name is Eoin, I am a computer science graduate from the Uni of Sussex where I achieved a 2:1

	p I am proficient with Java, JavaScript and Python

	h2 What's on here?

	ul 
		li
			a(href="/Sudoku") Sudoku:
			p Generate or solve a randomlu generated sudoku!
		li
			a(href="/About-me") About me:
			p A cover letter style summary of Eoin (me)
		li
			a(href="/CV") My CV
		li
			a(href="/Contact") Contact info
	
	h2 Future plans
	
	ul
		li WebGL versions of some OpenGL projects I've made
		li Interactive interpreter for Piet, an EsoLang based on the artwork of Piet Mondrian
		li Web version of EoINPLA, a interaction nets based programming language