extends layout

block content
	h1 Welcome!

	h2 What is this Website?
	p This is a small website to showcase some of my programming ability, it is running on a Express.js webserver in a docker container at running at fly.io

	h2 Who am I?

	p My name is Eoin, I am a computer science graduate and enthusiastic programmer who's looking to start a career in IT
	br
	p I am proficient with Java, JavaScript and Python

	h2 What's on here?

	p On this website you can find a bit more about me, my CV, contact info and some fun stuff to do whilst you're here!
	
	h2 Plans for future additions
	
	ul
		li WebGL versions of some OpenGL projects I've made
		li Interactive interpreter for Piet, an EsoLang based on the artwork of Piet Mondrian
		li Web version of EoINPLA, a interaction nets based programming language