doctype html

head
	link(rel="stylesheet", href="/styles/main_style.css")

body
	div.banner
		h1 Eoin Howard Scully
		h2 07856701358 | eoinhs647@gmail.com
	div.main-container
		div.sidebar
			a(href="/home") Home
			a(href="/about-me") About me
			a(href="/Sudoku/about") Sudoku!
			a(href="/Sudoku/generate").subsection Generator
			a(href="/Sudoku/solver").subsection Solver
			a(href="/CV") My CV
			a(href="/contact") Contact me
			a(href="/other-projects") Other Projects
			a(href="")
		div.content
			block content