body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.pdf {
    margin-top: 10px;
    aspect-ratio: 4/3;
    height: 100vh;
}

.content {
    flex: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25vw;
    margin-left: 25vw;
    text-align: center;

    p {
        margin: 0;
        padding: 0;
    }
}

p.error_message {
    border-style: solid;
    border-color: darkred;
    border-width: 5px;
    margin: 10px;
    padding: 5px;
    display: none;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a6f97;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px;
}


.buttons {
    display: flex;
    flex-direction: row;
    border-radius: 25px;

    .option {
        width: 150px;
        height: 50px;
        background-color: #2c7da0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        &:hover {
            background-color: #a9d6e5;
        }

        &::before {
            content: "";
            border-style: solid;
            border-width: 1px;
            height: 60%;
            margin-right: 10px;
        }
    }

    .dropdown {
        position: relative;
        text-align: center;

        .dropdown-label {
            img {
                width: 20px;
                height: 20px;
                object-fit: fill;
                margin-right: 5px;
                transition: rotate 0.25s;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
        }

        &:hover {
            .dropdown-content {
                display: flex;
                flex-direction: column;
                box-shadow: 5px 5px 5px;
            }

            img {
                rotate: 90deg;
                /*transform: rotate(90deg);*/
            }
        }
    }
}
